html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif; 
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.input-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 50%;
    margin: auto;
    column-gap: 5em;
}

.input-container div{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#amount-default{
    color: rgb(150, 150, 150);
    margin-top: 0px;
}

.btn-container{
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 50%;
    max-width: 500px;
    margin: 20px auto;
    border-collapse: collapse;
}

td:not(.btn-remove), th{
    border: 2px solid;
    padding: 5px;
}

.btn-remove{
    padding-left: 10px;
}

caption{
    font-weight: bold;
    font-size: 2em;
}